.content {
  color: var(--mdc-theme-text-hint-on-light);
  font-family: inherit;
  font-size: 1rem;
  font-style: italic;
  position: relative;

  &::before {
    position: absolute;
    left: -.5em;
    content: '“';
  }
  &::after {
    content: '”';
    margin-left: -.05em;
  }
}

@media screen and (min-width:1024px) {
  .content {
    font-size: 1.5rem;
  }
}

.author::before {
  content: '\2014 \0020';
}
