<section class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--2dp">
        <p class="mdl-card__title">
            <strong class="mdl-card__title-text">Michael Gerstmann</strong>
        </p>

        <div class="section__avatar-container mdl-card__media mdl-color--white">
            <img class="section__avatar-container__avatar" src="/images/network-micha.jpg"
                 alt="Porträt: Michael Gerstmann">
        </div>

        <p class="mdl-card__supporting-text">Michael ist Spezialist für Webanwendungen mit HTML5, CSS3 und JavaScript.
            Seine Expertise
            erstreckt sich von Mobile-First Responsive Web Designs über Suchmaschinenoptimierung
            bis hin zur Entwicklung von Content Management Systemen.</p>

        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored" href="http://micha.seiler-gerstmann.de/">Weitere Informationen</a>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--2dp">
        <p class="mdl-card__title">
            <strong class="mdl-card__title-text">Christophe Maurice</strong>
        </p>

        <div class="section__avatar-container mdl-card__media mdl-color--white">
            <img class="section__avatar-container__avatar" src="/images/network-christophe.jpg"
                 alt="Porträt: Christophe Maurice">
        </div>

        <p class="mdl-card__supporting-text">Christophes motivierender Charakter, seine sprachwissenschaftliche
            Ausbildung
            und seine Vorliebe für alles was Lean, Remote und progressiv ist, sind ein wahrer
            Gewinn für alle die einen Business Consultant oder Produktstrategen suchen.</p>

        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored" href="https://www.xing.com/profile/Christophe_Maurice2">Weitere
                Informationen</a>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--2dp">
        <p class="mdl-card__title">
            <strong class="mdl-card__title-text">Robert Schönthal</strong>
        </p>

        <div class="section__avatar-container mdl-card__media mdl-color--white">
            <img class="section__avatar-container__avatar" src="/images/network-robert.jpg"
                 alt="Porträt: Robert Schönthal">
        </div>

        <p class="mdl-card__supporting-text">Robert ist ein erfahrener und qualitätsbewusster Softwareentwickler
            &amp; -architect
            mit Vorliebe zum <strong>tests first</strong> Ansatz. Seine polyglotte Orientierung
            macht ihn zu einem ausgezeichneten Allrounder, der bereits einige große Projekte durchgeführt und betreut hat.</p>

        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored" href="https://digitalkaoz.net/">Weitere Informationen</a>
        </div>
    </div>

    {#
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--2dp">
        <p class="mdl-card__title">
            <strong class="mdl-card__title-text">amarantus</strong>
        </p>

        <div class="section__avatar-container mdl-card__media mdl-color--white">
            <img class="section__avatar-container__avatar" src="/images/network-amarantus.jpg" alt="Logo: amarantus">
        </div>

        <p class="mdl-card__supporting-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            ultrices,
            libero id dapibus porttitor, risus nisi interdum risus, et congue erat ipsum
            id mi. Curabitur consectetur metus sit amet enim blandit efficitur ac ac nisi.</p>

        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored" href="https://amarantus.de/">Weitere Informationen</a>
        </div>
    </div>
    #}

    {#<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--2dp">
        <p class="mdl-card__title">
            <strong class="mdl-card__title-text">Jana Eger</strong>
        </p>

        <div class="section__avatar-container mdl-card__media mdl-color--white">
            <img class="section__avatar-container__avatar" src="/images/network-jana.jpg" alt="Porträt: Jana Eger">
        </div>

        <p class="mdl-card__supporting-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            ultrices,
            libero id dapibus porttitor, risus nisi interdum risus, et congue erat ipsum
            id mi. Curabitur consectetur metus sit amet enim blandit efficitur ac ac nisi.</p>

        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored" href="http://jana-eger.com/">Weitere Informationen</a>
        </div>
    </div>#}
</section>
