<section class="network mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--2dp">
        <div class="network__avatar-container mdl-card__media mdl-color--white">
            <picture>
                <source media="(min-width: 840px)" data-srcset="/images/network/michael-gerstmann.jpg, /images/network/michael-gerstmann@2x.jpg 2x">
                <source media="(min-width: 480px)" data-srcset="/images/network/michael-gerstmann-396x396.jpg, /images/network/michael-gerstmann-396x396@2x.jpg 2x">
                <img class="network__avatar lazy" data-src="/images/network/michael-gerstmann.jpg"
                     data-srcset="/images/network/michael-gerstmann@2x.jpg 2x"
                     alt="Porträt: Michael Gerstmann">
            </picture>
        </div>

        <div class="mdl-card__title">
          <strong class="mdl-card__title-text">Michael Gerstmann</strong>
        </div>

        <p class="mdl-card__supporting-text">Michael ist Spezialist für Webanwendungen mit HTML5, CSS3 und JavaScript.
            Seine Expertise
            erstreckt sich von Mobile-First Responsive Web Designs über Suchmaschinenoptimierung
            bis hin zur Entwicklung von Content Management Systemen.</p>

        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored" href="http://micha.seiler-gerstmann.de/">Weitere Informationen</a>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--2dp">
        <div class="network__avatar-container mdl-card__media mdl-color--white">
            <picture>
                <source media="(min-width: 840px)" data-srcset="/images/network/christophe-maurice.jpg, /images/network/christophe-maurice@2x.jpg 2x">
                <source media="(min-width: 480px)" data-srcset="/images/network/christophe-maurice-396x396.jpg, /images/network/christophe-maurice-396x396@2x.jpg 2x">
                <img class="network__avatar lazy" data-src="/images/network/christophe-maurice.jpg"
                     data-srcset="/images/network/christophe-maurice@2x.jpg 2x"
                     alt="Porträt: Christophe Maurice">
            </picture>
        </div>

        <div class="mdl-card__title">
          <strong class="mdl-card__title-text">Christophe Maurice</strong>
        </div>

        <p class="mdl-card__supporting-text">Christophe ist ein Produktstratege und Unternehmensberater. Er hilft
            Unternehmen
            klare Strategien für erfolgreiche Produkte zu gestalten, sowie die passenden digital
            Teams und Prozesse dafür aufzubauen. Seine internationale Erfahrung reicht von Start-Ups bis hin zu Blue Chips.</p>

        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored" href="https://www.linkedin.com/in/christophe-maurice/">Weitere
                Informationen</a>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--2dp">
        <div class="network__avatar-container mdl-card__media mdl-color--white">
            <picture>
                <source media="(min-width: 840px)" data-srcset="/images/network/robert-schoenthal.jpg, /images/network/robert-schoenthal@2x.jpg 2x">
                <source media="(min-width: 480px)" data-srcset="/images/network/robert-schoenthal-396x396.jpg, /images/network/robert-schoenthal-396x396@2x.jpg 2x">
                <img class="network__avatar lazy" data-src="/images/network/robert-schoenthal.jpg"
                     data-srcset="/images/network/robert-schoenthal@2x.jpg 2x"
                     alt="Porträt: Robert Schönthal">
            </picture>
        </div>

        <div class="mdl-card__title">
          <strong class="mdl-card__title-text">Robert Schönthal</strong>
        </div>

        <p class="mdl-card__supporting-text">Robert ist ein erfahrener und qualitätsbewusster Softwareentwickler
            &amp; -architect
            mit Vorliebe zum <strong>tests first</strong> Ansatz. Seine polyglotte Orientierung
            macht ihn zu einem ausgezeichneten Allrounder, der bereits einige große Projekte durchgeführt und betreut hat.</p>

        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored" href="https://digitalkaoz.net/">Weitere Informationen</a>
        </div>
    </div>
</section>
