{% macro draw(tags) %}
<p class="resume__position-tags">
    {% for tag in tags %}
        <span class="mdl-chip mdl-color--cyan-100 mdl-color-text--grey-700">
            <span class="mdl-chip__text"><small>{{ tag|raw }}</small></span>
        </span>&thinsp;
    {% endfor %}
</p>
{% endmacro %}
