<section class="section__timeline">
    <div class="section__timeline__block">
        <div class="section__timeline__block__image mdl-color--cyan-100">
        </div>

        <div class="section__timeline__block__content">
            <h5>Postcon Deutsch­land B.V.&nbsp;&amp;&nbsp;Co.&nbsp;KG</h5>
            <ul>
                <li>Entwicklung eines ERP-Systems</li>
                <li>APIs für Briefverkehr (Frankierung)</li>
                <li>SAP-Schnittstellen</li>
                <li>Message-oriented programming (RabbitMQ)</li>
            </ul>
            <span class="section__timeline__block__date">2017 - heute<br><i class="fa fa-map-marker"></i> Berlin</span>
        </div>
    </div>

    <div class="section__timeline__block">
        <div class="section__timeline__block__image mdl-color--cyan-100">
        </div>

        <div class="section__timeline__block__content">
            <h5>McFIT Global&nbsp;Group&nbsp;GmbH</h5>
            <ul>
                <li>Planung &amp; Design von API-getriebenen, RESTful Webanwendungen</li>
                <li>Implementierung von CouchDB asl API für Frontendanwendungen</li>
                <li>Koordination &amp; Planung der Hostinginfrastruktur für Webanwendungen</li>
                <li>Automatisierung der Infrastruktur für Continous Integration und Continuous Delivery (Job-DSL aud automatisierte Credential Verwaltung)</li>
                <li>Implementierung von Docker als Laufzeitumgebung für lokale Entwicklungsumgebungen</li>
            </ul>
            <span class="section__timeline__block__date">2016<br><i class="fa fa-map-marker"></i> Berlin</span>
        </div>
    </div>

    <div class="section__timeline__block">
        <div class="section__timeline__block__image mdl-color--cyan-100">
        </div>

        <div class="section__timeline__block__content">
            <h5>bytepark GmbH</h5>
            <ul>
                <li>Entwicklung von Content Management Lösungen mit Symfony 2, dem Java Content Repository und TYPO3</li>
                <li>Projektautomation mit Jenkins CI, Ansible/Phing</li>
                <li>paketbasierte Auslieferung von Web-Applikationen</li>
                <li>Requirements Engineering &amp; technische Konzeption</li>
                <li>Teamleitung und -koordination</li>
            </ul>
            <span class="section__timeline__block__date">2013 - 2016<br><i class="fa fa-map-marker"></i> Berlin</span>
        </div>
    </div>

    <div class="section__timeline__block">
        <div class="section__timeline__block__image mdl-color--cyan-100">
        </div>

        <div class="section__timeline__block__content">
            <h5>K - New Media GmbH&nbsp;&amp;&nbsp;Co.&nbsp;KG</h5>
            <ul>
                <li>Wartung und Weiterentwicklung des auf MB3/TYPO3 basierenden eCommerce Systems</li>
                <li>Backporting von Funktionen des aktuellen TYPO3-Kerns in den archaischen MB3-Kern</li>
            </ul>
            <span class="section__timeline__block__date">2012 - 2013<br><i class="fa fa-map-marker"></i> Berlin</span>
        </div>
    </div>

    <div class="section__timeline__block">
        <div class="section__timeline__block__image mdl-color--cyan-100">
        </div>

        <div class="section__timeline__block__content">
            <h5>profi.it internet&nbsp;technology</h5>
            <ul>
                <li>Entwicklung von Hotelportalen</li>
                <li>Umsetzung eines firmeninternen CRM-Systems</li>
                <li>Entwicklung von Webservices (SOAP und REST)</li>
                <li>Umsetzung von TYPO3 basierten Webseiten</li>
                <li>Planung und Entwicklung von TYPO3 Extensions</li>
                <li>Entwicklung und Erweiterung interaktiver Frontendkomponenten</li>
                <li>Betreuung und Wartung von Root-Servern mit Debian</li>
                <li>Einführung Versionsverwaltungssystem in den Entwicklungsprozess</li>
            </ul>
            <span class="section__timeline__block__date">2007 - 2012<br><i class="fa fa-map-marker"></i> Lana, Italien</span>
        </div>
    </div>

    <div class="section__timeline__block">
        <div class="section__timeline__block__image mdl-color--cyan-100">
        </div>

        <div class="section__timeline__block__content">
            <h5>Haus&nbsp;Neuer&nbsp;Medien GmbH</h5>
            <ul>
                <li>Umsetzung von TYPO3 basierten Webseiten</li>
                <li>Unterstützung bei der Betreuung und Wartung von Root-Servern</li>
                <li>Betreuung eines Schülerprojekts in Zusammenarbeit mit dem Verein „Fit für die Wirtschaft“</li>
            </ul>
            <span class="section__timeline__block__date">2005 - 2006<br><i class="fa fa-map-marker"></i> Greifswald</span>
        </div>
    </div>

    <div class="section__timeline__block">
        <div class="section__timeline__block__image mdl-color--cyan-100">
        </div>

        <div class="section__timeline__block__content">
            <h5>WERK3</h5>
            <ul>
                <li>Evaluierung TYPO3 als Alternative zu firmeneigenem CMS</li>
            </ul>
            <span class="section__timeline__block__date">2005<br><i class="fa fa-map-marker"></i> Rostock</span>
        </div>
    </div>

    <div class="section__timeline__block">
        <div class="section__timeline__block__image mdl-color--cyan-100">
        </div>

        <div class="section__timeline__block__content">
            <h5>Haus&nbsp;Neuer&nbsp;Medien GmbH</h5>
            <ul>
                <li>Entwicklung von Gewinnspiel-, News- und Quizmodulen</li>
                <li>Entwicklung und Debugging der JavaScript RTE-Komponente für das firmeneigene CMS</li>
                <li>erster Kontakt mit TYPO3</li>
            </ul>
            <span class="section__timeline__block__date">2004 - 2005<br><i class="fa fa-map-marker"></i> Greifswald</span>
        </div>
    </div>

    <div class="section__timeline__block">
        <div class="section__timeline__block__image mdl-color--cyan-100">
        </div>

        <div class="section__timeline__block__content">
            <h5>Contas&nbsp;GmbH / geist-nord&nbsp;gmbh</h5>
            <ul>
                <li>Reportgenerierung mit Crystal Reports</li>
                <li>Programmierung einer Anwendung zur Berechnung der Wirtschaftlichkeit von Kreditsicherheiten</li>
            </ul>
            <span class="section__timeline__block__date">2001<br><i class="fa fa-map-marker"></i> Greifswald</span>
        </div>
    </div>
</section>
