$fa-font-path: '~font-awesome/fonts';

$headline-styles: (
  font-family: unquote("Roboto Slab, serif")
);

$mdc-typography-styles-headline1: $headline-styles;
$mdc-typography-styles-headline2: $headline-styles;
$mdc-typography-styles-headline3: $headline-styles;
$mdc-typography-styles-headline4: $headline-styles;
$mdc-typography-styles-headline5: $headline-styles;
$mdc-typography-styles-headline6: $headline-styles;
