@import "variables";

// fonts
@import "font-awesome/scss/font-awesome";

// "global" components
@import "@material/elevation/mdc-elevation";
@import "@material/theme/mdc-theme";
@import "@material/typography/mdc-typography";

// "layout" components
@import "@material/drawer/mdc-drawer";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/top-app-bar/mdc-top-app-bar";

// "element" components
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/chips/mdc-chips";
@import "@material/fab/mdc-fab";
@import "@material/icon-button/mdc-icon-button";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";

html, body {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

blockquote {
  color: var(--mdc-theme-text-hint-on-light);
  font-family: inherit;
  font-size: 1rem;
  font-style: italic;
  position: relative;

  &::before {
    position: absolute;
    left: -.5em;
    content: '“';
  }
  &::after {
    content: '”';
    margin-left: -.05em;
  }

  cite::before {
    content: '\2014 \0020';
  }
}

p, ul, ol {
  font-size: 1.15rem;
  line-height: 26px;
}

.mdl-dreadlabs {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
  }

  .mdc-top-app-bar {
    @include mdc-top-app-bar-fill-color(#fff);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  }

  /* @TODO */
  .mdl-mini-footer__link-list {
    font-size: 14px;
  }

  .mdc-top-app-bar__row .mdc-top-app-bar__title {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);

    a {
      width: 44px;
      display: block;
    }

    .logo {
      display: block;
      clip-path: inset(0 20% 0 0);
      margin-top: 10px;
      height: 44px;

      img {
        height: 44px;
      }
    }
  }
  .mdc-drawer {
    .mdc-drawer__title {
      height: 160px;
      position: relative;

      .logo {
        position: absolute;
        bottom: 4px;
        left: 5px;
        height: 54px;

        img {
          height: 54px;
        }
      }
    }
  }

  .network {
    &__avatar-container::before {
      /* reset margins for background image, because a image / picture element is used */
      margin: 0;
    }

    &__avatar {
      max-width: 100%;
      height: auto;
    }

    .mdc-card {
      position: relative;
    }

    .network-card__primary {
      @include mdc-typography(headline6);

      font-family: 'Roboto Slab', serif;
      padding: 1rem;
    }
    .network-card__secondary {
      padding: 0 1rem 56px;
      height: auto;
    }

    .mdc-card__actions {
      position: absolute;
      bottom: 0;
    }
  }
}

@media screen and (min-width:480px) {
  blockquote {
  }
  .mdl-dreadlabs .mdc-top-app-bar__row .mdc-top-app-bar__title {
    a {
      width: auto;
      display: inline;
    }

    .logo {
      clip-path: none;
      margin: auto;
      height: 56px;

      img {
        height: 56px;
      }
    }
  }
}
@media screen and (min-width:1024px) {
  blockquote {
    font-size: 1.5rem;
  }
  .mdl-dreadlabs .mdc-top-app-bar__row .mdc-top-app-bar__title {
    left: auto;
    top: auto;
    transform: none;
    position: relative;

    .logo {
      height: 64px;

      img {
        height: 64px;
      }
    }
  }
}

.mdl-dreadlabs footer {
  background-color: #424242;
  color: #9e9e9e;

  i {
    text-align: center;
    width: 1em;
  }
}
