@import "variables";

// fonts
@import "font-awesome/scss/font-awesome";

// "global" components
@import "@material/elevation/mdc-elevation";
@import "@material/theme/mdc-theme";
@import "@material/typography/mdc-typography";

// "layout" components
@import "@material/drawer/mdc-drawer";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";

// "element" components
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/chips/mdc-chips";
@import "@material/fab/mdc-fab";
@import "@material/icon-button/mdc-icon-button";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";

html, body {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

p, ul, ol {
  font-size: 1.15rem;
  line-height: 26px;
}

:target::before {
  content: "";
  display: block;
  height: 64px; /* fixed header height*/
  margin: -64px 0 0; /* negative fixed header height */
}
