.top-bar {
  display: block;
  clip-path: inset(0 20% 0 0);
  margin-top: 10px;
  height: 44px;

  &__image {
    height: 44px;
  }
}

@media screen and (min-width:480px) {
  .top-bar {
    clip-path: none;
    margin: auto;
    height: 56px;

    &__image {
      height: 56px;
    }
  }
}


@media screen and (min-width:1024px) {
  .top-bar {
    height: 64px;

    &__image {
      height: 64px;
    }
  }
}

.drawer {
  position: absolute;
  bottom: 4px;
  left: 5px;
  height: 54px;

  &__image {
    height: 54px;
  }
}
