/* @source: https://codyhouse.co/gem/vertical-resume/ */
.resume {
  position: relative;
  padding: 2em 0;

  &__toggle-aligned-right {
    text-align: right;
  }

  &::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 8px;
    height: 100%;
    width: 4px;
    background: #e0e0e0;
  }
}

@media only screen and (min-width: 1170px) {
  .resume {
    margin-bottom: 3em;

    &::before {
      left: 50%;
      margin-left: -2px;
    }
  }
}
