@import "../layout/variables";

.resume {
  &__position-tags {
    &--mdc-chip {
      background-color: $dreadlabs-theme-primary-contrast;
      color: $dreadlabs-theme-on-primary-contrast;
    }
  }
}

@media only screen and (min-width: 1170px) {
  .resume {
    &__position-tags {
      border-top: 1px solid #e0e0e0;

      padding: 1.5em 0 0 0;

      position: absolute;
      left: 116%;
      top: 6em;

      width: 100%;

      &-right {
        left: -116%;
      }
    }
  }
}
