$dreadlabs-theme-primary: #10094c;
$dreadlabs-theme-on-primary: #ffffff;

$dreadlabs-theme-primary-contrast: #e1e3f5;
$dreadlabs-theme-on-primary-contrast: #616161;

$dreadlabs-theme-secondary-contrast: #f5f5f5;
