$dreadlabs-theme-primary: #1a237e;
$dreadlabs-theme-on-primary: #ffffff;

$dreadlabs-theme-primary-contrast: #b2ebf2;
$dreadlabs-theme-on-primary-contrast: #616161;

$dreadlabs-theme-secondary-contrast: #f5f5f5;
