@import "variables";

.header {
  height: 227px;
  text-transform: uppercase;
  background: url("../../images/logo/Logo-Thomas-Juhnke-Softwareentwickler.png") no-repeat left top / 160px 160px;
}

.title {
  margin-top: 160px;
}

.subtitle {
  font-family: 'Roboto Slab', serif;
}

.list-item {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.content {
  background-color: $dreadlabs-theme-secondary-contrast;
}
