.footer {
  background-color: #424242;
  color: #9e9e9e;

  &__link-list-label {
    color: #9e9e9e !important;
  }

  &__icon {
    text-align: center;
    width: 1em;
  }
}

@media screen and (min-width: 840px) {
  .footer {
    &__section--align-end {
      text-align: right;
    }
  }
}
