<div class="max-w-[892px] mx-auto p-4">
    <h2 id="contact" class="font-['Roboto_Slab'] text-5xl mb-8 target:before:block target:before:content-[''] target:before:h-16 target:before:-mt-16">Kontakt</h2>
    <p class="leading-6 mt-4 mb-4">Ich freue mich über Ihre Nachricht.
        Nehmen Sie gern Kontakt über einen der folgenden Kanäle mit mir
        auf:</p>

    <ul class="text-gray-400 text-base">
        {{ range . }}
            <li class="grid grid-cols-12">
                <span class="col-span-2 order-3 text-right p-2"><small>{{ .label }}</small></span>
                <span class="col-span-8 md:col-span-9 order-2 p-2">{{ .value }}</span>
                <span class="col-span-2 md:col-span-1 order-1 p-2 text-center"><i class="{{ .icon }} text-xl" aria-hidden="true"></i></span>
            </li>
        {{ end }}
    </ul>
</div>
