<div class="max-w-[892px] mx-auto p-4">
    <h2 id="network" class="font-['Roboto_Slab'] text-5xl target:before:block target:before:content-[''] target:before:h-16 target:before:-mt-16">Netzwerk</h2>
</div>

<div class="grid grid-cols-12 md:gap-4 lg:gap-6 bg-base-200 p-4">
    {{ range $.Site.Data.network.node }}
        <!--
            At breakpoint "md", a 12-col grid is applied, aligning the items to the start of the cross-axis.
            This allows a nested grid display of the network node avatar, name and text like the following:

            ┌───────────────┬─────────────────────────────────┐
            │┼──────────────┤                                 │
            ││              │ Arno Nym                        │
            ││              │                                 │
            ││              │ Lorem ipsum dolor sit amet.     │
            ││   <Avatar>   │ Foo bar? Hello World!           │
            ││              │                                 │
            ││              │                                 │
            ││              │                                 │
            │┼──────────────┤ More info...                    │
            └───────────────┴─────────────────────────────────┘
        -->
        <div class="bg-white col-span-12 lg:col-span-3 shadow-md mb-4 relative md:grid md:grid-cols-12 md:content-start">
            {{ partial "network/node.html" . }}
        </div>
    {{ end }}
</div>
