<div class="mdl-cell mdl-cell--4-col">
  <p>Rüdigerstraße 43<br>
    10365 Berlin<br>
    +49 (0) 178 54 56 492
  </p>
  <p>
      <a href="mailto:thomas.juhnke@dreadlabs.com" class="mdl-button mdl-button--colored mdl-button--fab">
          <i class="material-icons">email</i></a>
  </p>
</div>

<div class="mdl-cell mdl-cell--8-col">
  <p>Ich freue mich über Ihre Nachricht:</p>
  <form action="#">
      <div class="mdl-grid zzz-mdl-grid--no-spacing">
          <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width">
                  <input class="mdl-textfield__input" type="text" id="firstname">
                  <label class="mdl-textfield__label" for="firstname">Vorname</label>
              </div>
          </div>
          <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width">
                  <input class="mdl-textfield__input" type="text" id="lastname">
                  <label class="mdl-textfield__label" for="lastname">Nachname</label>
              </div>
          </div>
          <div class="mdl-cell mdl-cell--12-col">
              <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
                  <textarea class="mdl-textfield__input" type="text" rows="9" id="message"></textarea>
                  <label class="mdl-textfield__label" for="message">Ihre Nachricht</label>
              </div>
          </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast mdl-button--raised">
          Senden
      </button>
  </form>
</div>
