.vcard {
  &__avatar {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;

    margin: 8px 0;

    text-align: center;

    img {
      border-radius: 50%;
    }
  }
}
