---
layout: default
---
{% block content %}
  <section class="section--center mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <blockquote>The function of good software is to make the complex appear to be simple.
        <cite>Grady Booch</cite></blockquote>
    </div>
  </section>

  <section class="section--center section__vcard mdl-grid">
    <div class="mdl-cell mdl-cell--4-col section__vcard__avatar-container">
      <img class="section__vcard_avatar-container__avatar" src="/img/Thomas-Juhnke_portrait-business.jpg" alt="Thomas Juhnke Softwareentwickler">
    </div>
    <div class="mdl-cell mdl-cell--8-col">
      <h1 class="section__vcard__header mdl-typography--text-uppercase">
        <small>Thomas</small><br>
        Juhnke<br>
        <small>Software&shy;entwickler</small>
      </h1>
    </div>
  </section>

  <section class="section--center mdl-grid mdl-shadow--4dp mdl-color--primary-dark mdl-color-text--accent-contrast">
    <div class="mdl-cell mdl-cell--12-col">
      <h2 id="mission-statement">Leitbild</h2>

      <p>Ich entwickle <strong>Software nach Ihren Wünschen</strong> mit hohen Anforderungen an
      <strong>Qualität, Sicherheit und Zuverlässigkeit</strong>, testgetrieben und unter
      Berücksichtigung Ihrer Geschäftsdomäne in Anlehnung an Domain Driven
        Design-Praktiken.</p>

      <p>Die <strong>Pflege und Weiterentwicklung Ihrer bestehenden Softwarelösungen</strong> sind
      für mich ebenso bedeutsam wie die Integration von <strong>neuen Technologien, wenn
          es sinnvoll ist</strong> und es die Anforderungen zulassen.</p>
    </div>
  </section>

  <section class="section--center mdl-grid">
    <h3 class="mdl-cell mdl-cell--4-col">Mein Angebot</h3>
    <div class="mdl-cell mdl-cell--8-col">
      <p>Ich unterstütze Sie bei…</p>
      <ul>
        <li>…der Konzeption &amp; Planung von kleinen bis mittelgroßen Softwareprojekten</li>
        <li>…der Softwareentwicklung und -architektur mit agilen Vorgehensmodellen, auch im Team</li>
        <li>…der Pflege und Weiterentwicklung Ihrer bestehenden Softwarelösungen</li>
        <li>…der Verbesserung der Softwarequalität und -stabilität</li>
      </ul>
    </div>
  </section>

  <section class="section--center mdl-grid">
    <h3 id="about-me" class="mdl-cell mdl-cell--4-col">Über mich</h3>

    <div class="mdl-cell mdl-cell--8-col">
      <p>Bereits seit 1999 entwickle ich Software in verschiedenen Programmiersprachen.
      Durch mein Studium der Informatik und Wirtschaftsinformatik und meine <strong>langjährige
          Erfahrung</strong> in Unternehmen unterschiedlicher Größe und Aufgabengebieten decke
      ich die umfangreiche Palette der Anforderungen an einen Softwareentwickler sehr
        gut ab:</p>

      <ul>
        <li>technische Konzeption, Planung und Kommunikation mit allen Interessensgruppen</li>
        <li>Continuous Integration und Continous Delivery</li>
        <li>Profiling und statische Codeanalyse</li>
        <li>infrastrukturnahe Tätigkeiten ("DevOps")</li>
      </ul>
    </div>

    <h4 class="mdl-cell mdl-cell--12-col">Berufserfahrung</h4>
  </section>

  <div class="mdl-color--grey-100">
    <section class="section--center mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
          {% include 'timeline.twig' %}
      </div>
    </section>
  </div>

  <section class="section--center mdl-grid">
    <h2 id="contact" class="mdl-cell mdl-cell--12-col">Kontakt</h2>

    <div class="mdl-cell mdl-cell--4-col">
      <p>Rüdigerstraße 43<br>
      10365 Berlin<br>
      +49 (0) 178 54 56 492<br>
        <a href="mailto:thomas.juhnke@dreadlabs.com">thomas.juhnke@dreadlabs.com</a></p>
    </div>

    <div class="mdl-cell mdl-cell--8-col">
      <p>Ich freue mich über Ihre Nachricht:</p>
      <form action="#">
        <div class="mdl-grid zzz-mdl-grid--no-spacing">
          <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="firstname">
              <label class="mdl-textfield__label" for="firstname">Vorname</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="lastname">
              <label class="mdl-textfield__label" for="lastname">Nachname</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
              <textarea class="mdl-textfield__input" type="text" rows="9" id="message"></textarea>
              <label class="mdl-textfield__label" for="message">Ihre Nachricht</label>
            </div>
          </div>
        </div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored mdl-button--raised">Senden</button>
      </form>
    </div>
  </section>

  <div class="mdl-color--grey-50">
    <section class="section--center section__network mdl-grid">
      <h2 id="network" class="mdl-cell mdl-cell--12-col">Netzwerk</h2>
    </section>

    <section class="section__network mdl-grid">
      <div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp">
        <p class="mdl-card__title">
          <strong class="mdl-card__title-text">Michael Gerstmann</strong>
        </p>

        <div class="section__avatar-container mdl-card__media mdl-color--white">
          <img class="section__avatar-container__avatar" src="img/network-micha.jpg" alt="Porträt: Michael Gerstmann">
        </div>

        <p class="mdl-card__supporting-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices,
        libero id dapibus porttitor, risus nisi interdum risus, et congue erat ipsum
          id mi. Curabitur consectetur metus sit amet enim blandit efficitur ac ac nisi.</p>

        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored" href="http://micha.seiler-gerstmann.de/">Weitere Informationen</a>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp">
        <p class="mdl-card__title">
          <strong class="mdl-card__title-text">Christophe Maurice</strong>
        </p>

        <div class="section__avatar-container mdl-card__media mdl-color--white">
          <img class="section__avatar-container__avatar" src="img/network-christophe.jpg" alt="Porträt: Christophe Maurice">
        </div>

        <p class="mdl-card__supporting-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices,
        libero id dapibus porttitor, risus nisi interdum risus, et congue erat ipsum
          id mi. Curabitur consectetur metus sit amet enim blandit efficitur ac ac nisi.</p>

        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored" href="https://www.xing.com/profile/Christophe_Maurice2">Weitere Informationen</a>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp">
        <p class="mdl-card__title">
          <strong class="mdl-card__title-text">amarantus</strong>
        </p>

        <div class="section__avatar-container mdl-card__media mdl-color--white">
          <img class="section__avatar-container__avatar" src="img/network-amarantus.jpg" alt="Logo: amarantus">
        </div>

        <p class="mdl-card__supporting-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices,
        libero id dapibus porttitor, risus nisi interdum risus, et congue erat ipsum
          id mi. Curabitur consectetur metus sit amet enim blandit efficitur ac ac nisi.</p>

        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored" href="https://amarantus.de/">Weitere Informationen</a>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp">
        <p class="mdl-card__title">
          <strong class="mdl-card__title-text">Robert Schönthal</strong>
        </p>

        <div class="section__avatar-container mdl-card__media mdl-color--white">
          <img class="section__avatar-container__avatar" src="img/network-robert.jpg" alt="Porträt: Robert Schönthal">
        </div>

        <p class="mdl-card__supporting-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices,
        libero id dapibus porttitor, risus nisi interdum risus, et congue erat ipsum
          id mi. Curabitur consectetur metus sit amet enim blandit efficitur ac ac nisi.</p>

        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored" href="https://digitalkaoz.net/">Weitere Informationen</a>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp">
        <p class="mdl-card__title">
          <strong class="mdl-card__title-text">Jana Eger</strong>
        </p>

        <div class="section__avatar-container mdl-card__media mdl-color--white">
          <img class="section__avatar-container__avatar" src="img/network-jana.jpg" alt="Porträt: Jana Eger">
        </div>

        <p class="mdl-card__supporting-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices,
        libero id dapibus porttitor, risus nisi interdum risus, et congue erat ipsum
          id mi. Curabitur consectetur metus sit amet enim blandit efficitur ac ac nisi.</p>

        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored" href="http://jana-eger.com/">Weitere Informationen</a>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
